/* General styling for container paddings */
[data-testid="block-container"] {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  margin-bottom: -7rem;
}

[data-testid="stDataFrameContainer"] {
  border: 2px solid #cccccc; /* 2px solid border with grey color */
  border-radius: 0; /* Slightly rounded corners */
  padding: 10px; /* Padding inside the border */
}

/* Styling for vertical block */
[data-testid="stVerticalBlock"] {
  padding-left: 0rem;
  padding-right: 0rem;
}

/* Styling for st.metric */
[data-testid="stMetric"] {
  background-color: #111111;
  border: 1px solid #cccccc;
  text-align: center;
  padding: 15px 0;
  padding: 15px 0;

  /* border-left: 0.5rem solid #9ad8e1 !important; */
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

/* Center the metric label */
[data-testid="stMetricLabel"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for upward delta icon */
[data-testid="stMetricDeltaIcon-Up"] {
  position: relative;
  left: 38%;
  transform: translateX(-50%);
}

/* Styling for downward delta icon */
[data-testid="stMetricDeltaIcon-Down"] {
  position: relative;
  left: 38%;
  transform: translateX(-50%);
}
